<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BancAndes</title>
    <link rel="stylesheet" type= "text/css" th:href= "@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class= "container mx-auto w-25">
        <h1>BancAndes</h1>
        <div>
            <a th:href= "@{/cuentas}" class= "btn btn-primary">Cuentas</a>
            <a th:href= "@{/operacionesCuenta}" class= "btn btn-primary">OperacionesCuentas</a>
            <a th:href= "@{/operacionesTransferencia}" class= "btn btn-primary">OperacionesTransferencia</a>
            <a th:href="@{/operacionesPrestamo}" class= "btn btn-primary">OperacionesPrestamos</a>
        </div>
    </div>

</body>
</html>
