<!DOCTYPE html>
<html>
<head>
    <title>BancAndes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">

    <h1>BancAndes</h1>
    <div>
        <a th:href="@{/empleados}" class="btn btn-primary d-block mb-2">Login de empleados</a>
        <a th:href="@{/administrador}" class="btn btn-primary d-block mb-2">Ver como administrador</a>
        <a th:href="@{/cliente}" class="btn btn-primary d-block mb-2">Login de clientes</a>
    </div>
    <br/>

</div>
</body>
</html>
