<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Operacion de Cuenta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form action="#" th:action="@{/operacionesCuenta/new/save}" method="post">
        <div th:replace="~{fragments/operacionCuentaForm :: operacionCuentaForm(titulo='Crear Operacion de Cuenta')}"></div>    
    </form>
    
</body>
</html>